.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	inset: 0;
}

.screen {		
	background: linear-gradient(90deg, rgb(255, 187, 0), orange);		
	position: relative;	
	z-index: 1;
	height: 97vh;
	box-shadow: 0px 0px 10px gray;
	overflow: hidden;
	animation: identifier 3s ease;
	width: min(95%, 360px);
}

.screen__content {
	position: relative;	
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
}

.screen__background {		
	position: absolute;
	inset: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	z-index: -1;
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	z-index: -1;
	height: 220px;
	width: 220px;
	background: rgb(207, 142, 21);	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	z-index: -1;
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, rgb(235, 156, 11), rgb(230, 149, 0));
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	z-index: -1;
	height: 400px;
	width: 200px;
	background: rgb(226, 149, 6);	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 100%;
	padding: 30px;
	padding-top: 156px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
	margin: 1px;
}

.login__icon {
	position: absolute;
	top: 30px;
	color: gray;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: min(80%, 250px);
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: orange;
}

.login__submit {
	background: #fff;
	font-size: clamp(10px, 2vw, 14px);
	margin-top: 15%;
	padding: 0.7em 1em;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	width: 50%;
	color: rgb(80, 79, 79);
	box-shadow: 0 0 4px rgb(0, 0, 0, 0.05);
	cursor: pointer;
	transition: .2s;
}

.login__submit:hover {
	transform: scale(1.1);
	background-color: gray;
	color: #fff;
	border: 0;
}

.camera-login {	
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	text-align: center;
	color: #fff;
	background-color: inherit;
	cursor: pointer;
	opacity: 1;
}
.camera-login__background{
	background: rgba(255, 0, 0, 0.404);
	position: absolute;
	z-index: -1;
	width: 360px;
	height: 60px;
}

.camera-login__icon {
	padding: 20px 20px;
	border-radius: 0px 0px 0px 30px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
	background-color: rgba(0, 0, 255, 0.322);
	transform: scale(1.2);
}
  
.tooltiptext {
visibility: hidden;
width: 200px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
right: 0;
top: 100%;
z-index: 1;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}

@keyframes identifier {
	from{
		transform: scale(0.5);
		opacity: 0;
	}
	to{
		transform: scale(1);
		opacity: 1;
	}
}